<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{HtmlWebpackPlugin.options.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div id="root"></div>
  <button class="tabs">Domaines</button>
  <button class="tabs">Domainesddf</button>
  <button class="tabs">Domaines af</button>
  <button class="tabs">Domaines</button>
  <button class="tabs">Domainesvhf hd</button>
</body>

</html>